.dictionary {
  height: 85%;
  margin-top:10px;
  padding:20px;
  background: inherit;
  overflow-y: scroll;
  position: relative;
}

.dictionary > div {width:90%;}

.dictionary h1 {
  font-size: 1.5em;
  color:#75787b;
  margin: 20px 0 30px;
}

.dictionary table {
  width:100%;
  background: #fff;
  border:#666;
}

.dark table {
  width:100%;
  background: #333;
  border:#fff;
}

.dictionary th {
  background: #c4d600;
  color:#fff;
  padding: 8px;
}

.dictionary .trName td {background: #666; color:#fff;}

.dictionary td {
  width:30%;
  text-align: left;
  padding: 8px 8px 8px 15px;
  font-weight: bold;
  font-size: 1em;
}

tr:nth-child(odd) td { background-color:#ccc } /*odd*/
tr:nth-child(even) td { background-color:#fff } /* even*/

.dark tr:nth-child(odd) td { background-color:#333 } /*odd*/
.dark tr:nth-child(even) td { background-color:#555 } /* even*/

.dictionary button.begin {
  position: fixed;
  bottom:15%;
  left: calc(50% - 130px); 
  width:260px;
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: 9px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 1px 1px 2px #666;
}

.dictionary button.next {
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: 15px 30px;
  margin-top:40px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 1px 1px 2px #666;
}

td.transcription {color:#000}

td.sound {width:10%; text-align: center}

.dictionary button:hover, .dictionary button.yes:hover  {
  background: rgb(70, 160, 62);
  color: #fff;
}

.dictShow {

  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(37,32,31,.1);
  padding: 30px 30px;
  display:flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonQwest {
  width:100%;
  display:flex;  
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.buttonWrite {
  width:90%;
  display:flex;  
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
}

.buttonWrite button {
  width:70px; height:70px;
  margin:5px;
  background: #fff;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  color: #000;
  font-size: 2em;
  font-weight: normal;
}

.buttonQwest button {
  width:30%;
  min-width: 200px;
  margin:10px;
  background: #f1f2f8;
  border:0px solid #c4d600;
  box-shadow: 1px 1px 1px 0 rgba(37,32,31,.1);
  padding: 15px 20px;
  cursor: pointer;
  color: #000;
  font-size: 1.3em;
  font-weight: normal;
}

.buttonQwest button.tipColor {
  animation: tip  1s infinite ease-in-out;
}

@keyframes tip {
  from {background: #fff;}
  50% {background: #c4d600;}
  to {background: #fff;}
  }

.buttonQwest button:hover {
  background: #c4d600;
  color: #000;
}

.congratulation {
  text-align: center;
  width:100%;
  
}

.congratulation h3 {
  font-size: 2em;
  color:#c4d600;
  font-weight: bold;
  margin:0;
}

.sProgress {
  position: absolute;
  left:30px;
  bottom:20px;
  width:100%;
}


.showProgressB {
  position: relative;
  left:0px;
  bottom:0px;
  width: calc(100% - 60px); 
  background: #999;
  height:5px;
}

.showProgress {
  position: relative;
  left:0px;
  bottom:5px;
  width: calc(30% - 60px); 
  background: #c4d600;
  height:6px;
  text-align: right;
}

.showProgressP {
  display: inline-block;
  transform: translateY(-15px);
  background: #f1f2f8;
  color:#666;
  padding:0 8px 0 10px;
}

.wordType {
  font-size: 1em;
  font-weight: normal;
  color: #999;
  margin-bottom: 10px;
}

.word {
  font-size: 3em;
  font-weight: bold;
  color: #000;
  margin-bottom: 20px;
}

.wordtranscription {
  font-size: 2em;
  font-weight: normal;
  color: rgb(129, 148, 199);
  margin-bottom: 20px;
}

.wordtranslateQ {
  padding: 10px 30px;
  font-size: 2em;
  width:50%;
  text-align: center;
  background: #aaa;
  border-radius: 10px;
  font-weight: normal;
  color: #fff;
  margin-bottom: 50px;
}

.buttonknow {width:100%; display: flex; justify-content: center; }

.buttonknow button {
  margin:10px;
  background: #c4d600;
  border: 0px;
  width:25%;
  border-radius: 20px;
  padding: 7px 5px 0px;
  cursor: pointer;
  color: #fff;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonknow button.yes {background: #4dd15f;}

.dictionary .tips {
  position: relative;
  font-weight: normal;
  color:#75787b;
  padding: 25px 30px;
  margin: 0 0 30px;
  font-size: 1.1em;
  border: 1px solid #c4d600;
  background: #fff;
}

.dark .tips {
  color:#fff;
  border: 2px solid #c4d600;
  background: #333;
}

.dictionary .tips:before {
  content: 'Ваша задача:';
  background: #f1f2f8;
  padding:3px 5px;
  color: #000;
  position: absolute;
  top:-15px;
  left:20px;
}

.dark .tips:before {
  background: #000;
  color: #ddd;
}

.dictionary .finishTest {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(37,32,31,.1);
  padding: 30px 30px;
}

.finishTest div {margin-top:20px;}

.finishTest h2 {
  text-align: center;
  color:#000;
  font-size: 2em;
}

.finishTest i {
  text-align: center;
  color:#c4d600;
}

.finishTest a {
  margin:10px;
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: 10px 20px;
  cursor: pointer;
  color: #000;
  font-size: 1.2em;
}

.finishTest a:hover {
  background: rgb(70, 160, 62);
  color: #fff;
}

@media screen and (orientation:portrait) {
  .transcription {display: none;}
}


@media screen and (orientation:landscape) {
  .dictionary {
    padding:30px 50px 30px;
    height:82%;
  }

  .dictionary h1 {
  font-size: 2em;
  }

.dictionary h2 {
  font-size: 1.2em;
  }

.dictionary p {
  font-size: 1.2em;
  }

  .dictionary button.begin {
    position: fixed;
    bottom:15%;
    left: calc(50% - 190px); 
    width:260px;
  }

  .buttonWrite {
    width:70%;
    display:flex;  
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
  }

  .congratulation h3 {
    font-size: 2em;
    color:#c4d600;
    font-weight: bold;
    margin:0;
  }
  
  .congratulation p {
    font-size: .8em;
    color:#999;
    font-weight: normal;
    margin:0;
    margin-bottom: 10px;
  }

}