.divDict {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.dictionary {
  padding:1em;
  background: inherit;
  overflow-y: scroll;
  position: relative;
  flex-grow:1;
  margin-bottom: 1em;
}



.dictionary h1 {
  font-size: 1.5em;
  color:#75787b;
  margin: 0 0 1em;
}

.dictionary table {
  width:100%;
  background: #fff;
  border:#666;
}

.dark table {
  width:100%;
  background: #333;
  border:#fff;
}

.dictionary th {
  background: #c4d600;
  color:#fff;
  padding: 8px;
}

.dictionary .trName td {background: #4eb2cc; color:#fff;}

.dictionary td {
  width:30%;
  text-align: left;
  padding: 8px 8px 8px 15px;
  font-weight: bold;
  font-size: 1em;
}

tr:nth-child(odd) td { background-color:#ccc } /*odd*/
tr:nth-child(even) td { background-color:#fff } /* even*/

.dark tr:nth-child(odd) td { background-color:#333 } /*odd*/
.dark tr:nth-child(even) td { background-color:#555 } /* even*/

.dictionary button.begin {
  position: fixed;
  bottom:20%;
  left: calc(50% - 80px); 
  width:160px;
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: 9px 20px;
  cursor: pointer;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  box-shadow: 1px 1px 2px #666;
}

.dictionary button.next {
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: .5em 1em;
  margin-top:1em;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 1px 1px 2px #666;
}

td.transcription {color:#000}

.dark td.transcription {color:#2bc4eb}

td.sound {width:10%; text-align: center}

.dictionary button:hover, .dictionary button.yes:hover  {
  background: rgb(70, 160, 62);
  color: #fff;
}

.dictShow {
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(37,32,31,.1);
  padding:5vh 2vw;
  display:flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dark .dictShow {
  background: #444;
}

.buttonQwest {
  width:100%;
  display:flex;  
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: stretch;
}

.buttonWrite {
  width:100%;
  display:flex;  
  justify-content: center;
  flex-wrap: wrap;
  align-items: stretch;
}

.buttonWrite button, .buttonWrite button:active {
  width:15vw; 
  max-width: 100px;
  max-height: 100px;
  height:15vw;
  margin:1vw;
  background: #f1f2f8;
  border:0px solid #c4d600;
  box-shadow: 1px 1px 1px 0 rgba(37,32,31,.1);
  border: 0px;
  padding: .2em;
  cursor: pointer;
  color: #000;
  font-size: 1.5em;
  font-weight: bold;
}

.dark .buttonWrite button, .dark .buttonWrite button:active {
  
  background: #000;
  color: #bbb;

}

.buttonWrite button:hover {
  background: #c4d600;
  color: #000;
}

.buttonWrite button.tipColor {
  animation: tip  3s linear;
}

.buttonQwest button, .buttonQwest button:active {
  width:30%;
  margin:0px;
  margin-bottom: 2vh;
  background: #f1f2f8;
  border:0px solid #c4d600;
  box-shadow: 1px 1px 1px 0 rgba(37,32,31,.1);
  padding: 2vh;
  cursor: pointer;
  color: #000;
  font-size: 1em;
  font-weight: bold;
}

.dark .buttonQwest button, .dark .buttonQwest button:active {
  background: #000;
  border:0px solid #c4d600;
  color: #bbb;
}

.buttonQwest button.tipColor {
  animation: tip  3s linear;
}

@keyframes tip {
  from {background: #f1f2f8;}
  25% {background: #c4d600;}
  50% {background: #f1f2f8;}
  75% {background: #c4d600;}
  to {background: #f1f2f8;}
  }

.buttonQwest button:hover {
  background: #c4d600;
  color: #000;
}

.congratulation {
  text-align: center;
  width:100%;
  
}

.congratulation h3 {
  font-size: 1.4em;
  color:#c4d600;
  font-weight: bold;
  margin:0;
}

.sProgress {
  margin:0px 3vw 0;
}


.showProgressB {
  position: relative;
  left:0px;
  bottom:0px;
  width: 100%; 
  background: linear-gradient(to right top, #4eb2cc, #005d79);
  height:5px;
}

.showProgress {
  position: relative;
  left:0px;
  bottom:5px;
  width: 30%; 
  background: #c4d600;
  height:6px;
  text-align: right;
}

.showProgressP {
  font-size: 2vh;
  display: inline-block;
  transform: translateY(-15px);
  background: #f1f2f8;
  color:#666;
  padding:0 .5vh 1vh .5vh;
}

.dark .showProgressP {  
  background: #000;
  }

.wordType {
  font-size: .8em;
  font-weight: normal;
  color: #999;
  margin-bottom: 2vh;
}

.wordTypeWrite {
  font-size: .8em;
  font-weight: normal;
  color: #999;
  margin-bottom: 0;
}

.word {
  font-size: 4vh;
  font-weight: bold;
  text-align: center;
  color: #000;
  margin-bottom: 2vh;
}

.dark .word {
  color: #bbb;
}

.wordtranscription {
  font-size: 1em;
  font-weight: normal;
  color: #4eb2cc;
  margin-bottom: 2vh;
}

.wordtranslateQ {
  padding: 2vh;
  font-size: 1em;
  line-height: 5vh;
  height:5vh;
  width:70%;
  text-align: center;
  background: #4eb2cc;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5vh;
}

.wordtranslateQwrite {
  padding: 2vh;
  font-size: 1em;
  line-height: 5vh;
  height:5vh;
  width:70%;
  text-align: center;
  background: #4eb2cc;
  border-radius: 10px;
  font-weight: bold;
  color: #fff;
  margin-bottom: .5em;
}

.buttonknow {width:100%; display: flex; justify-content: center; }

.buttonknow button {
  margin:10px;
  background: #c4d600;
  border: 0px;
  width:40%;
  border-radius: 20px;
  padding: 10px 10px;
  cursor: pointer;
  color: #fff;
  font-size: 1em;
  text-transform: uppercase;
}

button:disabled,
button[disabled], button:disabled:hover,
button[disabled]:hover {background: #ddd; color:#fff}

.buttonknow button.yes {background: #4dd15f;}

.dictionary .tips {
  position: relative;
  font-weight: normal;
  color:#75787b;
  padding: 25px 30px;
  margin: 0 0 30px;
  font-size: 1.1em;
  border: 1px solid #c4d600;
  background: #fff;
}

.dark .tips {
  color:#fff;
  border: 2px solid #c4d600;
  background: #333;
}

.dictionary .tips:before {
  content: 'Ваша задача:';
  background: #f1f2f8;
  padding:3px 5px;
  color: #000;
  position: absolute;
  top:-15px;
  left:20px;
}

.dark .tips:before {
  background: #000;
  color: #ddd;
}

.dictionary .finishTest {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 1px 0 rgba(37,32,31,.1);
  padding: 2em .5em;
}

.finishTest div {margin-top:20px;}

.finishTest h2 {
  text-align: center;
  color:#000;
  font-size: 1em;
}

.finishTest i {
  text-align: center;
  color:#c4d600;
}

.finishTest a {
  margin:5px;
  background: #c4d600;
  border: 0px;
  border-radius: 20px;
  padding: .5em;
  cursor: pointer;
  color: #000;
  font-size: .8em;
}

.finishTest a:hover {
  background: rgb(70, 160, 62);
  color: #fff;
}

@media screen and (orientation:landscape) {
  
  .dictionary button.begin {
    position: fixed;
    bottom:15%;
    left: calc(50% - 190px); 
    width:260px;
  }

   .buttonWrite button {
    width:8vw; 
    height:8vw;
    padding: 2px;
    
  }

  .congratulation h3 {
    font-size: 2em;
    color:#c4d600;
    font-weight: bold;
    margin:0;
  }
  
  .congratulation p {
    font-size: .8em;
    color:#999;
    font-weight: normal;
    margin:0;
    margin-bottom: 10px;
  }

  .sProgress {
    margin:0px 1vw 1vh;
  }

  .theory {
    height:95%!important;
  }

  .LessonsDiv {
    height:95%!important;
  }

}

@media (min-width: 1201px)  { 
  .wordtranslateQ {
    font-size: 2em;
  }
  
  .wordtranslateQwrite {
    font-size: 2em;    
  }
}


@media (min-width: 993px) and (max-width: 1200px) { 
 
}

@media (min-width: 769px) and (max-width: 992px) { 
  .transcription {display: none;}
  
}


@media (min-width: 300px) and (max-width: 768px) { 
  
  .transcription {display: none;}
}