.theory {
  height: 100%;
  background: #fff;
  margin:0vh 1vw;
  padding: 1vh 1vw;
  overflow-y: scroll;
}

.theory h1 {
  font-size: 1.5em;
  color:#75787b;
  margin: 0 0 1em;
}

.theory span {
  color:red;
  font-weight: bold;
}


.theory h2 {
  background: #75787b;
  font-weight: normal;
  color:#fff;
  padding: .7em 1em;
  margin: 0 0 1em;
  font-size: 1.1em;
}

.theory h3 {
  font-weight: bold;
  color:#c4d600;
  margin: 2em 0 0;
  font-size: 1.1em;
}

.theory p {
  color:#525252;
  font-size: 1em;
}

.dark .theory p {
  color:#bbb;
  font-size: 1em;
}

table.main {
  width:100%;
}

.dark table.main {
  width:100%;
  background: #333;
  border:#fff;
}

table.main th {
  background: #c4d600;
  color:#fff;
  padding: 8px;
}

table.main td {
  width:50%;
  text-align: center;
  padding: 8px;
  font-weight: bold;
  font-size: 1em;
}

table.main > tbody > tr:nth-child(odd) td { background-color:#ccc } /*odd*/
table.main > tbody > tr:nth-child(even) td { background-color:#fff } /* even*/

.dark table.main > tbody > tr:nth-child(odd) td { background-color:#333 } /*odd*/
.dark table.main > tbody > tr:nth-child(even) td { background-color:#555 } /* even*/


table.sub td {
  width:33%;
}

table.sub3 td {
  width:25%;
}

table.sub td { background-color:#ccc!important; } 

.dark table.sub td { background-color:#333!important; } 


@media screen and (orientation:landscape) {
 
}