.welcomeBox {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:50;
    background: rgba(0,0,0,.8);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 30px;
}

.welcomeBox > div {
    margin-top:80px;
    padding:10px 20px;
    border:2px solid rgba(255, 255, 255,.3);
    border-radius: 20px;
}



.welcomeBox h1 {
    color: #c4d600;
    font-size: 1.8em;
}

.welcomeBox p {
    color: #fff;
    font-size: 1.2em;
}

.welcomeBox button {
    margin-top:20px;
    background: #c4d600;
    border: 0px;
    border-radius: 20px;
    padding: 9px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.welcomeBox button:hover {
    background: #43ac39;
    color: #fff;
}

.welcomeBox .arrowBox {
    position: absolute;
    top: 30px;
    right:30px;
    width:250px;
    color:#fff;
    font-size: 14px;
}

.welcomeBox .arrowBox:before {
    content: url('/images/arrow.png'); 
    display: block;
    width: 75px; 
    height: 60px;   
    position: relative;
    left: 100px;
    top: -10px;
}

@media screen and (orientation:landscape) {

    .welcomeBox {
        padding-left: 20%;
    }

    .welcomeBox > div {
        margin-top:100px;
        padding:20px 30px;
    }
    

    .welcomeBox h1 {
        font-size: 2em;
    }
    
    .welcomeBox p {
        font-size: 1.4em;
    }
    
    .welcomeBox .arrowBox {
        position: absolute;
        top: 9vh;
        right:17vw;
        width:350px;
        color:#bbb;
        font-size: 16px;
    }
    
    .welcomeBox .arrowBox::before {
        content: url('/images/arrow.png'); 
        display: block;
        width: 75px; 
        height: 60px;   
        position: relative;
        left: 50px;
        top: -10px;
    }
}

@media (orientation:landscape) and (min-width: 1500px) and (max-width: 2000px) {
    .welcomeBox .arrowBox::before {
        content: url('/images/arrow.png'); 
        display: block;
        width: 75px; 
        height: 60px;   
        position: relative;
        left: 20px;
        top: -10px;
    }
}

@media (orientation:landscape) and (min-width: 800px) and (max-width: 1500px) {
    .welcomeBox .arrowBox::before {
        content: url('/images/arrow.png'); 
        display: block;
        width: 75px; 
        height: 60px;   
        position: relative;
        left: 150px;
        top: -10px;
    }
}

@media (orientation:landscape) and (min-width: 300px) and (max-width: 800px) {
    .welcomeBox .arrowBox::before {
        content: url('/images/arrow.png'); 
        display: block;
        width: 75px; 
        height: 60px;   
        position: relative;
        left: 50px;
        top: -10px;
    }
}
