.welcomeBox {
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    z-index:50;
    background: rgba(0,0,0,.8);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcomeBox > div {
    padding:10px 20px;
    background: rgba(0,0,0,.3);
    border:2px solid rgba(255, 255, 255,.3);
    border-radius: 20px;
}



.welcomeBox h1 {
    color: #c4d600;
    font-size: 1.3em;
    line-height: 1.3em;
}

.welcomeBox p {
    color: #fff;
    font-size: 1em;
}

.welcomeBox button {
    margin-top:20px;
    background: #c4d600;
    border: 0px;
    border-radius: 20px;
    padding: 9px 20px;
    cursor: pointer;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
}

.welcomeBox button:hover {
    background: #43ac39;
    color: #fff;
}