body {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #524c61;   
    font-size: 16px; 
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

