.Layout nav {
    grid-area: nav;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: #fff;
    border-top: 1px solid #ddd;
}

.dark nav {
    background: #444;
}

.Layout nav a {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #666;
    font-weight: bold;
    font-size: .9em;
    padding: 10px 0;
    transition: background .3s ease-out;
    text-decoration: none;
}

.dark nav a {
    color: #ddd;
}

.Layout nav a:hover {
    background: #ddd;
}

.dark nav a:hover {
    background: #222;
}

.Layout nav a.active {
    color: #000;
    background: #c4d600;
}

.dark nav a.active {
    background: #c4d600;
}

.fa-2x {
    margin-bottom: 5px;
}

@media screen and (orientation:landscape) {
    .Layout nav {
        flex-direction: column;
        border:0;
    }

    .Layout nav a {
        padding: 0px 10px; 
        border-bottom:1px solid #ccc;      
    }

    .Layout nav a:last-child {
        border-bottom:0;}

    .fa-chevron-circle-left {
        transform: rotate(90deg);
    }
    .fa-2x {
        margin-bottom: 10px;
    }
    
}