.Layout header {
    grid-area: header;
    margin: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top:10px;
}

.logo h1 {
    margin:0;
    padding:2px 10px;
    border:2px solid #56cf4b;
    font-size: 1em;  
    padding-right: 16px;
    border-radius: 3px;
}

.logo h2 {
    margin:0;
    padding:2px 10px;
    border:2px solid #999;
    background: #999;
    color:#fff;
    font-size: 1em;  
    padding-left: 16px;
    margin-left: -20px;
    font-weight: normal;
    border-radius: 3px;
}

.logo > div {
    font-weight: bold;
    position: relative;
    font-size: 18px;
    left: -10px;
    width:33px;
    height:33px;
    line-height: 33px;
    text-align: center;
    background: #56cf4b;
    border:1px solid #fff;
    color: #fff;
    padding: 3px 5px;
    border-radius: 50%;
}

.Layout header .AppHeaderUser button {
    margin-top:5px;
    position: relative;
    z-index:60;
    background: #56cf4b;
    border: 0px;
    border-radius: 20px;
    padding: 9px 20px;
    cursor: pointer;
    color: #fff;
    font-size: .9em;
    font-weight: bold;
}

.Layout header .AppHeaderUser button:hover {
    background: #43ac39;
    color: #fff;
}

.fa-user-circle {color: #43ac39;}